.list-downloadable-products { margin: 0; padding: 0 0; background: #fafafa; }
.list-downloadable-products ul { padding: 0 0 0 20px; }
.list-downloadable-products ul ul { padding: 0 0 0 15px; }
.list-downloadable-products li { line-height: 20px; clear: both; }

.list-downloadable-products .item-product { border-bottom: 1px solid #e5e5e5; }
.list-downloadable-products .item-product.last { border: none; }
.list-downloadable-products .product-line { padding: 7px 7px; line-height: 20px;  }
.list-downloadable-products .even .product-line,
.list-downloadable-products .expanded .product-line { background: #f4f3f3; }
.list-downloadable-products .product-line .name { cursor: pointer; opacity: .8; width: 45%; }
.list-downloadable-products .expanded .product-line .name,
.list-downloadable-products .product-line .name:hover { opacity: 1; }

.list-downloadable-products .icon-expand-toggle {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    background: url(../images/add.png) no-repeat 50% 50%;
    cursor: pointer;
    border: 1px solid #cacaca;
    border-radius: 4px;
    margin-right: 4px;
}
.list-downloadable-products .icon-expand-toggle:hover { opacity: 1; }
.list-downloadable-products .expanded .icon-expand-toggle { background-image: url(../images/subtract.png); }

.list-downloadable-products .list-orders { display: none; margin: 0 0 15px; }
.list-downloadable-products .expanded .list-orders { display: block; }
.list-downloadable-products .item-order { margin: 0 0 5px; }
.list-downloadable-products .order-line { margin: 0 0 2px; padding: 1px 5px; background: #eaeaea; }
.list-downloadable-products .order-line .column { float: left; }
.list-downloadable-products .order-line .order-status { float: right; font-size: .9em; }
.list-downloadable-products .order-line .date-expire { color: #888;  }
.list-downloadable-products .order-line .expired { color: #de3f3f; }
.list-downloadable-products .order-line .renew-purchase { text-align: right; margin: 0 0 0 5px; }

.list-downloadable-products .item-link .column { float: left; width: 15%; }
.list-downloadable-products .item-link {  }
.list-downloadable-products .item-link.no-access { font-weight: bold; }
.list-downloadable-products .item-link:first-child { border: none; }
.list-downloadable-products .item-link .link-remaining { width: 53%; }

.cf { *zoom: 1; }
.cf:before,
.cf:after { content: " "; display: table; }
.cf:after { clear: both; }
